@import url("variable.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


/*--------------------------common lines--------------------------*/
*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
    
}
header{
    background-color: var(--bg);
    height: 670px;
    width: 100%;
}
main{
}
/*--------------------------common lines--------------------------*/



/*-------------------------- header part start here --------------------------*/
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar-ul ul{
    display: flex;
    margin-top: 40px;
    margin-left: 150px;
}
.navbar-ul ul li{
    margin-right: 36px;
}
.navbar-ul ul li a{
    color: var(--nor);
    font-size: 16px;
    font-weight: 500;
}
.navbar-btn{
    margin-top: 40px;
}

.navbar-btn{
    margin-right: 150px;
    font-size: 16px;
    background-color: var(--btn);
    padding: 10px 22px;
}
.navbar-btn i,a{
    color: var(--nor)
}
.navbar-btn i{
    margin-right: 8px;
}
/*--------------------------header second part--------------------------*/
.header-article{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.l-article{
    Width:485px;
    Height:230px;
    margin-top: 110px;
}
.l-article h2{
    font-size: 64px;
    font-weight: 700;
    color: var(--nor);
    margin-bottom: 20px;
}
.l-article a{
    font-size: 16px;
    background-color: var(--btn);
    padding: 10px 22px;
}
.l-article i{
    color: var(--nor);
    font-size: 16px;
    margin-left: 8px;
}
.banner-article img{
    width:556px;
    height: 438px;
    margin-top: 60px;
}

/*-------------------------- header part end here --------------------------*/


/*----------------------------  mid section start here -------------------------- --*/
.container{
    display: flex; 
     flex-direction: column; 
     align-items: center; 
}

.article-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-row-gap: 30px; */
    margin-top: 70px;
    grid-gap: 30px;
}
.article{
    width: 330px;
    height: 480px;
    padding: 20px 20px 35px 20px;
    /* margin: 0px 30px; */
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.article img{
    width: 100%;
}
.article h2{
    margin-top: 16px;
    font-size: 28px;
    color: var(--h-font);
}
.article p{
    margin-top: 10px;
    color: var(--p-font);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}







/*----------------------------  mid section end here -------------------------- --*/







/*--------------------------Media Querie part here--------------------------*/
@media screen and (max-width:688px){
    header{
        width: 100%;
    }
    .navbar{
        display: none;
    }
    .header-article{
        display: flex;
        flex-direction: column;
        margin-left:20px;
        
    }
    .l-article{
        width:278px;
        height:278px;
        margin-top: 6 0px;
    }
    .l-article h2,a{
        font-size: 36px;
    }
    .banner-article img{
        width:330px;
        height: 260px;
        margin-top: 0px;
    }
    .container{
        width: 100%;
    }
    .article-container{
        grid-template-columns: repeat(1,1fr);
    }
    .article{
        width: 80%;
        margin-left: 15px;
        /* margin-left: 20px; */
        /* grid-row-gap:0; */
    }
}