@import url("variable.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


/*--------------------------common lines--------------------------*/
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: var(--bg);
    height: 670px;
    width: 100%;
}
/*--------------------------common lines--------------------------*/



/*-------------------------- header part start here --------------------------*/
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar-ul ul{
    display: flex;
    margin-top: 40px;
    margin-left: 150px;
}
.navbar-ul ul li{
    margin-right: 36px;
}
.navbar-ul ul li a{
    color: var(--nor);
    font-size: 16px;
    font-weight: 500;
}
.navbar-btn{
    margin-top: 40px;
}
.navbar-btn{
    margin-right: 150px;
    font-size: 16px;
    background-color: var(--btn);
    padding: 10px 22px;
}
.navbar-btn i,a{
    color: var(--nor)
}
.navbar-btn i{
    margin-right: 8px;
}
/*--------------------------header second part--------------------------*/
.header-article{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.l-article{
    Width:485px;
    Height:230px;
    margin-top: 110px;
}
.l-article h2{
    font-size: 64px;
    font-weight: 700;
    color: var(--nor);
    margin-bottom: 20px;
}
.l-article a{
    font-size: 16px;
    background-color: var(--btn);
    padding: 10px 22px;
}
.l-article i{
    color: var(--nor);
    font-size: 16px;
    margin-left: 8px;
}
.banner-article img{
    width:556px;
    height: 438px;
    margin-top: 60px;
}
/*-------------------------- header part end here --------------------------*/


/*----------------------------  mid section start here -------------------------- --*/
.container{
    display: flex; 
     flex-direction: column; 
     align-items: center; 
}

.article-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 70px;
    grid-gap: 30px;
}
.article{
    width: 330px;
    height: 480px;
    padding: 20px 20px 35px 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.article img{
    width: 100%;
}
.article h2{
    margin-top: 16px;
    font-size: 28px;
    color: var(--h-font);
}
.article p{
    margin-top: 10px;
    color: var(--p-font);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
/*----------------------------  mid section end here -------------------------- --*/
/*----------------------------highlight section start here----------------------------*/
.highlight-content{
    display: flex;
    margin-top: 160px;
}
.h-article{
    width: 40%;
    margin:30px 65px 0px 182px;
}
.h-article h2{
    font-size: 48px;
    color: var(--h-font);
}
.h-article p{
    font-size: 16px;
    color:var(--p-font);
    margin-bottom: 25px;
}
.h-article a{
    font-size: 16px;
    background-color: var(--btn);
    padding: 10px 22px;
}
.h-banner{
    width: 50%;
}
.h-banner img{
    width: 567px;
    height: 427px;
}
/*----------------------------highlight section end here----------------------------*/
.ticket{
    width:100%;
    background-color: var(--btn);
    height: 250px;
    margin-top: 40px;
    padding:20px 0px;
}
.ticket-info{
    display: flex;
    align-items: center;
}
.notice{
    width:40%;
    margin: 50px 30px 0px 150px;
    font-family: 'Merienda', cursive;
    
    color: var(--nor);
}
.notice h3{
    font-size: 3em;
    transform: rotate(-10deg);
    animation: type 5s infinite steps(15);
    -webkit-animation: type 2.9s infinite;
    animation-timing-function: linear;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid white;
    width: 18ch;
    margin-top: 5px;
}
@keyframes type{
    0%{
        width:0ch;
    }
    100%{
        width:18ch;
    }
}
.all-tickets{
    display: flex;
    margin-left: 0;
    margin-top: 60px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.9);
    /* border: 1px solid rgb(255, 255, 255); */
}
.time-box{
    padding:20px;
    margin:0 30px;
    color: var(--btn);
    text-align: center;
    
}
.time-box h4{
    font-size: 3em;
    background-color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.time-box span{
    color: var(--nor);
}



/*--------------------------Media Querie part here--------------------------*/
@media screen and (max-width:688px){
    header{
        width: 100%;
    }
    .navbar{
        display: none;
    }
    .header-article{
        display: flex;
        flex-direction: column;
        margin-left:20px;
    }
    .l-article{
        width:278px;
        height:278px;
        margin-top: 6 0px;
    }
    .l-article h2,a{
        font-size: 36px;
    }
    .banner-article img{
        width:330px;
        height: 260px;
        margin-top: 0px;
    }
    /*header----------------------------*/
    /*mid----------------------------*/
    .container{
        width: 100%;
    }
    .article-container{
        grid-template-columns: repeat(1,1fr);
    }
    .article{
        width: 80%;
        margin-left: 15px;
    }
    /*highlight----------------------------*/
    .hightlight{
        width: 100%;
    }
    .highlight-content{
        flex-direction: column;
    }
    .h-article{
        width: 80%;
        margin-left: 20px;
        margin-bottom: 30px;
    }
    .h-article h2{
        font-size: 30px;
    }
    .h-article p{
        font-size: 12px;
        margin-right: 20px;
    }
    .h-banner{
        width: 100%;
    }
    .h-banner img{
        width: 328px;
        height: 248px;
        margin-left: 15px;
    }
    /*bonus part------------------------------*/
    .ticket{
        width: 100%;
        height: 100%;
    }
    .ticket-info{
        flex-direction: column;
    }
    .notice{
        width: 40%;
        margin-left: 40px;
        margin-right: 0px;       
    }
    .notice h3{
        font-size: 1em;
        width: 0ch;
    }
    .all-tickets{
        width: 100%;
        flex-direction: column;
        font-size: 18px;
    }
    .time-box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    













}